<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NSI | ClassRoom</title>
        <link rel="shortcut icon" href="https://media.discordapp.net/attachments/785188133419221022/813225879009624074/logo.png">
        <link rel="stylesheet" href="public/css/bootstrap.min.css">
        <link rel="stylesheet" href="public/css/style-b.css">
        
    </head>
<body>
    <nav id="header-bar" class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <img src="https://cdn.discordapp.com/attachments/808387990094741528/808388126904156220/workspace.png" alt="" width="140px" height="45px" id="logo-head">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="header-items">
                    <li class="nav-item">
                        <a class="nav-link active li-items" id="bold" aria-current="page" href="#">Main</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link li-items" href="documentation">Doc</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle li-items" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Languages
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item li-items" href="javascript">JavaScript</a></li>
                            <li><a class="dropdown-item li-items" href="python">Python</a></li>
                        </ul>
                    </li>
                </ul>
                <button onclick="callConnect()" class="btn btn-light" id="header-button">Connexion</button>
            </div>
        </div>
    </nav>
    <div id="sheet">
        <div id="search-bar">
              <input type="text" placeholder="Terme à Rechercher" id="input-search"  name="q" aria-label="Search through site content" >
    
            <button onclick="searchTheWord()" class="btn btn-light" id="search-button">Rechercher</button>
        </div>

        <h1 class="sheet-title" >Présentation</h1>
        <p id="txtPresent"></p>
        <ul class="text">
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia quasi pariatur ullam, suscipit quo maiores debitis quidem expedita voluptatibus inventore ducimus porro rerum nam magnam accusantium fugit. Repudiandae, aut quod?</li><br>
        <li></li>
        <li></li>
            </ul>
    </div>
    
    
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <script src="public/js/bootstrap.min.js"></script>
    <script src="public/js/app-b.js"></script>
    


    <footer>
        <p>
            <script>
                document.write(copyright);
            </script>
        </p>
    </footer>
</body>
</html>

